$marzipan-400: #FFEBB8;
$marzipan-500: #e7c673;
$marzipan-600: #c7ab64;
$marzipan-700: #a18a50;
$marzipan-800: #706039;
$marzipan-900: #2d2717;

$red-500: #f78e5b;
$red-600: #d37549;
$red-700: #b4633c;
$red-800: #7b4328;
$red-900: #5c321e;

$blue-500: #b1d8cf;
$blue-600: #95b8b0;
$blue-700: #7c9993;
$blue-800: #5f7570;
$blue-900: #28312f;

$green-500: #b0e865;
$green-600: #95c555;
$green-700: #7da449;
$green-800: #607d38;
$green-900: #3b4e23;

$gray-500: #e9e8cf;
$gray-600: #c4c3ad;
$gray-700: #a2a18e;
$gray-800: #888776;
$gray-900: #49483f;

$font-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-display: "Poppins", sans-serif;

$ease: cubic-bezier(0.4, 0.0, 0.2, 1);
$ease-enter: cubic-bezier(0.0, 0.0, 0.2, 1);
$ease-leave: cubic-bezier(0.4, 0.0, 1, 1);
