@import "normalize.css";
@import "variables";
@import "fonts";

* {
  box-sizing: border-box;
  font-size: inherit;
  color: inherit;
}

html {
  font-size: 1em;
}

body {
  background-color: $marzipan-400;
  line-height: 1.45;
  color: $red-900;
  font-family: $font-body;
}

img {
  max-width: 100%;
}

hr {
  border: none;
  border-bottom: 2px solid $red-900;
}

p {
  margin-bottom: 1.3em;
  max-width: 50rem;
}

h1,
h2,
h3,
h4 {
  font-family: $font-display;
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
}

h2 {
  font-size: 1.953em;
}

h3 {
  font-size: 1.563em;
}

h4 {
  font-size: 1.25em;
}

small,
.font_small {
  font-size: 0.8em;
}

th {
  text-align: left;
}

td:not(:last-of-type) {
  padding-right: 32px;
}

@import "navigation";
@import "content";
